
@{ // bu sayfanın indexini admin layout olarak kullanmasını istedik.
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Hoş Geldiniz";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}