
<!DOCTYPE html>
<html>
<head>
    <title>Örnek Web Sitesi</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        /* Genel stil kuralları */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Başlık ve navigasyon stil kuralları */
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        h1 {
            margin: 0;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            nav ul li {
                display: inline;
                margin-right: 10px;
            }

                nav ul li a {
                    color: #fff;
                    text-decoration: none;
                }

        /* Bölüm ve altbilgi stil kuralları */
        section {
            padding: 20px;
        }

        h2 {
            color: #333;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

    </style>
</head>

<body>
    <header>
        <h1>Hoş Geldiniz!</h1>
    </header>

    <section>
        <h2>Hakkımızda</h2>
        <p>Kızılboğa Aile Restoranı, sıcak bir aile ortamında lezzetli yemekler sunan bir mekan. 
            Geniş menümüzde yöresel ve uluslararası lezzetleri bulabilirsiniz. 
            Misafirperverliğimiz ve ev yapımı tariflerimizle unutulmaz bir deneyim yaşatmak için sizi Kızılboğa'ya bekliyoruz!
        </p>
    </section>

</body>
</html>
